<ion-header>
  <ion-navbar>
    <ion-title class="home">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to DreamTeam Publications!</h2>
  <p>
    Where dreams do come true <3
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>

  <ng-container *ngFor="let article of articles" class="container">
    <div class="article">  
      <div class="image">
        <!-- Can't seem to find the image-path, 
        in the terminal it's article.image.attachment.blob.filename -->
        <img src="{{ article.attributes.image.name }}.jpg">
      </div>
      <div class="content">
        <h3>{{ article.attributes.title }}</h3>
        <p>{{ article.attributes.body }}</p>
        <!-- This works, its the path to the category-name, buts it not ok -->
        <div *ngFor="let category of article.attributes.categories" class="categories">
          <p><i>{{ category.name }}</i></p>
        </div>
        <button ion-button color="secondary">Continue reading</button>    
      </div>
    </div>
  </ng-container>

</ion-content>
